{% extends "index.html" %} 

{% block title %} Mis tickets {% endblock title %}


{% block content %}
<br>
  {% if tickets %}
  <h1>Mis tickets</h1>
    <table class="table table-hover">
      <thead>
        {% if user.is_authenticated %}
          <tr>
            <th>Origen</th>
            <th>Destino</th>
            <th>Horario de salida</th>
            <th>Bus</th>
            <th>Compañia</th>
            <th>Estado</th>
            {% if user.is_superuser %}
              <th>Acciones</th>
              <th>Reservado por</th>
            {% endif %}
          </tr>
        {% endif %}
      </thead>

      <tbody>
        {% for t in tickets %}
          {% if not user.is_superuser %}
            <tr>
              <td scope="row">{{ t.origen }}</td>
              <td>{{ t.destino }}</td>
              <td>{{ t.salida }}</td>
              <td>{{ t.bus }}</td>
              <td>{{ t.compannia }}</td>
              <td>{{ t.ticket_status }}</td>
              <td><a href="{% url "qrCode" t.numero_ticket %}">Codigo QR</a></td>
            </tr>
          {% endif %}
          {% if user.is_superuser %}
            <tr>
              <td scope="row">{{ t.origen }}</td>
              <td>{{ t.destino }}</td>
              <td>{{ t.salida }}</td>
              <td>{{ t.bus }}</td>
              <td>{{ t.compannia }}</td>
              <td>{{ t.ticket_status }}</td>
              <td>
                <a class="btn btn-primary" href="{% url 'edit_ticket' t.numero_ticket %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'del_ticket' t.numero_ticket %}">Borrar</a>
              </td>
              <td>{{ t.reservado_por.username }}</td> 
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h1>No existen registros de tickets...</h1>
  {% endif %} 
{% endblock %}