{% extends "index.html" %}

{% block title %}Detalles Ticket{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Detalles del Ticket</h1>

        <table class="table table-hover">
            <tr>
                <th>Origen</th>
                <td>{{ ticket.origen }}</td>
            </tr>
            <tr>
                <th>Destino</th>
                <td>{{ ticket.destino }}</td>
            </tr>
            <tr>
                <th>Salida</th>
                <td>{{ ticket.salida }}</td>
            </tr>
            <tr>
                <th>Bus</th>
                <td>{{ ticket.bus }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>---</td>
            </tr>
            <!-- Add other ticket details as needed -->

        </table>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 row">
                </div>
                <div class="mb-3">
                    <label for="Targetas" class="form-label">Targetas</label>
                    <select class="form-select form-select-sm" name="Targetas" id="Targetas" required>
                        <option value="">Seleccione una</option>
                        {% if targetas %}
                            {% for targeta in targetas %}
                                <option value="{{targeta.nombreTargeta}}">{{targeta.nombreTargeta}} - {{targeta.tipoTargeta}}</option>
                            {% endfor %}
                        {% else %}
                            <option value="">No hay targetas, por favor cree alguna targeta</option>
                        {% endif %}
                    </select>
                </div>
                <div class="mb-3 row">
                    <div class="d-grid gap-2">
                      <button type="submit" name="Reservar" id="Reservar" class="btn btn-primary">
                        Reservar
                      </button>
                    </div>
                    
                </div>
            </form>
        </div>
        <br>
        <a href="{% url 'home' %}">Volver a la busqueda</a>
    </div>
{% endblock content %}